[Unit]
Description=PocketBase CMS
After=network.target

[Service]
Type=simple
User={{ pb_user }}
Group={{ pb_group }}
WorkingDirectory={{ pb_bin_path }}
# PocketBase is so light it doesn't need PM2 or Node!
ExecStart={{ pb_bin_path }}/pocketbase serve --http="0.0.0.0:{{ pb_port }}"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target